/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 26px;
    background-color: rgba(240, 218, 122, 0.89);
}
/* UTILITIES */
/* Layout */
.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
}

/* Buttons */
.btn{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.btn:hover,
.btn:focus{
    background-color: #aaa;
}
.btn.btn-del{
    margin-top: 10px;
    color: #fff;
    background-color: #888;
    border: 0;
    border-radius: 40px;
}
.btn.btn-del:hover{
    background-color: rgb(189, 33, 33);
}


/* APP HEADER */
.app-header{
    text-align: center;
    margin-bottom: 30px;
}

/* APP MAIN */
/* ADD INPUT */
.input-todo{
    display: flex;
    margin-bottom: 20px;
}
.input-todo input{
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-radius: 30px;
    border: 1px solid #888;
    outline: none;
    /* cursor: url('../img/pen.png'), auto; */
}
.input-todo input:focus{
    background-color: rgba(221, 149, 15, 0.637);
}

/* TODO LIST */
.todo-list .todo-item{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border-bottom: 1px solid #000;
}

/* Item Text */
.todo-list .todo-item .text{
    position: relative;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 25px;
    /* cursor: url('../img/check.png'), auto; */
}
.todo-list .todo-item .text::before{
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 13px;
    height: 13px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.3);
}
/* Completed Items*/
.todo-list .todo-item .text.completed{
    color: rgba(0,0,0, .3);
    text-decoration: line-through;
}
.todo-list .todo-item .text.completed::after{
    position: absolute;
    top: 0;
    left: -1px;
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-size: 21px;
    font-weight: 900;
    text-shadow: 0 0 2px #000;
    color: #01a701;
}
/* Important Items */
.todo-list .todo-item .text.important{
    color: rgb(235, 32, 32);
    text-transform: uppercase;
}

/* Item Icons */
.todo-item .todo-icons{
    display: flex;
}
/* Edit Icon */
.todo-list .todo-item i.edit:hover{
    color: rgb(221, 149, 15);
}
/* Important Icon */
.todo-list .todo-item i.important{
    color: #bbb;
}
.todo-list .todo-item i.important:hover{
    color:rgba(2, 133, 255, 0.466)
}
.todo-list .todo-item i.important.active{
    color:rgb(2, 133, 255);
}
/* Trash Icon */
.todo-list .todo-item i{
    margin-left: 10px;
    color: #888;
    cursor: pointer;
}
.todo-list .todo-item i.delete:hover{
    color: rgb(189, 33, 33);
}

/* Edit Input */
.edit-wrap{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

}
.edit-wrap .edit-input{
    padding: 0 80px 0 10px;
    width: 100%;
    height: 100%;
    font-size: 24px;
}
.edit-wrap .edit-icons{
    position: absolute;
    top: 5px;
    right: 10px;
}
.edit-wrap .edit-icons i.check:hover{
    color: rgb(46, 214, 46);
}

/* DELETE ALL COMPLETED */
.delete-box{
    text-align: right;
}

/* TRASH */
.trash{
    position: absolute;
    width: 300px;
    top: 110px;
    right: 50px;
    padding: 20px 10px;
}
.trash i.arrow{
    font-size: 18px;
    cursor: pointer;
}
.trash .trash-content{
    position: relative;
    width: 300px;
    text-align: center;
    background-color: #fff;
}
/* Deleted Todo */
.trash-content .deleted-todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000;
}
.deleted-todo .trash-icons{
    display: flex;
}
.deleted-todo .trash-icons i{
    margin-left: 10px;
    color: #888;
    cursor: pointer;
}
.deleted-todo .trash-icons i.restore:hover{
    color: rgb(46, 214, 46);
}
.deleted-todo .trash-icons i.delete:hover{
    color: rgb(235, 32, 32);
}
/* Empty Button */
.trash-content .btn.btn-del{
    font-size: 12px;
    margin: 10px;
}

/* MODAL */
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0, .6);
}
.modal-box{
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .8);
}
.modal-box p{
    margin-bottom: 10px;
}
/* Delete All Modal */
.delete-all-modal{
    position: fixed;
    min-height: 100vh;
}
.delete-all-modal .modal-box{
    width: 500px;
}

/* Trash Modal */
.trash-modal{
    position: absolute;
    height: 100%;
}