<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue ToDo List</title>

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- ICONS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>
    
    <!-- STYLE -->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="root" class="container">     
            <!-- APP HEADER -->
            <header class="app-header">
                <h1>ToDo List</h1>
            </header>

            <!-- APP MAIN -->
            <main class="app-main">
                <!-- ADD INPUT -->
                <section class="input-todo">
                    <input v-model.trim="newTodo" type="text" placeholder="Cose da fare..." @keyup.enter="addTodo" ref="todoInput">
                    <button class="btn" @click="addTodo">Add</button>
                </section>

                <!-- TODO LIST -->
                <ul class="todo-list">
                    <li v-for="(item, index) in todos" class="todo-item impo">
                        <span class="text" :class="{completed: item.completed, important: item.important}" @click="updateStatus(index)">{{item.text}}</span>
                        <div class="todo-icons">
                            <i class="fas fa-edit edit" @click="showEdit(index)"></i>
                            <i class="fas fa-star important" :class="{active: item.important}" @click="switchImportant(index)"></i>
                            <i class="fas fa-trash delete" @click="trashTodo(index)"></i>
                        </div>
                        <!-- Edit Input -->
                        <div v-show="item.editTodo.visibility" class="edit-wrap">
                            <input v-model="item.editTodo.text" class="edit-input" type="text">
                            <div class="edit-icons">
                                <i class="fas fa-check check" @click="updateTodo(index)"></i>
                                <i class="fas fa-times delete" @click="closeEdit(index)"></i>
                            </div>
                        </div>
                    </li>
                </ul>

                <!-- DELETE ALL COMPLETED -->
                <div class="delete-box">
                    <button class="btn btn-del" @click="deleteAllCompleted">
                        <i class="fas fa-trash"></i>
                        Delete all completed
                    </button>
                </div>

                <!-- TRASH -->
                <div class="trash">
                    
                    <i class="fas fa-trash-alt"></i>
                    <i v-show="!trash" class="fas fa-chevron-down arrow" @click="showTrash"></i>
                    <i v-show="trash" class="fas fa-chevron-up arrow" @click="showTrash"></i>
                    
                    <div v-show="trash" class="trash-content">
                        <ul class="deleted-todo-list">
                            <li v-for="(item, index) in deleted" class="deleted-todo">
                                {{item.text}}
                                <div class="trash-icons">
                                    <i class="fas fa-trash-restore restore" @click="restoreTodo(index)"></i>
                                    <i class="fas fa-times delete" @click="deleteTodo(index)"></i>
                                </div>
                            </li>
                        </ul>
                        <button v-show="deleted.length > 0" class="btn btn-del" @click="showModalTrash">Empty Trash</button>

                        <!-- Trash modal -->
                        <div v-show="modalTrash" class="modal trash-modal">
                            <div class="modal-box">
                                <p>Are You Sure to Delete All?</p>
                                <button class="btn" @click="emptyTrash">Yes</button>
                                <button class="btn" @click="closeModalTrash">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        <!-- DELETE ALL MODAL -->
        <div v-show="alertDelete.visibility" class="modal delete-all-modal">
            <div class="modal-box">
                <p>You haven't completed this task yet!<br>Are you sure to delete it?</p>
                <button class="btn" @click="confirmDelete">Yes</button>
                <button class="btn" @click="closeAlert">No</button>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="./js/script.js"></script>
</body>
</html>